#juzhong{
    text-align:center;
}
.header{
    background-color: #fff;
    padding: .4rem;
    overflow: hidden;
    height: 3.2rem;
    border-bottom:1px solid #ccc;
    /* 这三条语句结合，设置导航的粘滞定位，一定要设置对应的位置，这里是top：0 */
    position: sticky;
    top: 0;
    z-index: 999; 
}
.headerlogo{
    color:#1e90ff;
    font-size: 1.4rem;
    text-align: left;

}
.headertxt{
    font-size: 0.6rem;
    color: #999;
    display: inline-block;
    padding-left: 0.3rem;
}
.menu{
    line-height: 2.8rem
}
.menuitem{
    font-size:.7rem !important;
    padding-left:1rem;
    padding-right:1rem;
}